/*DESKTOP RESPONSIVE */
@media screen and (min-width: 925px) and (max-width: 1935px) {
    * {
        box-sizing: border-box;
        font-family: 'roboto', sans-serif;
        font-size: 10px;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    
    /* BACKGROUND TITLE IMAGE */
    .imgEclairs {
        height: 800px;
        width: 100%;
    }
    
    .imgMountains,
    .imgLactee,
    .imgForest,
    .cvBtn,
    .mobile-footer{
        display:none !important;
    }
    
    /* LOGO */
    .fa-user-astronaut {
        font-size: 3.5rem;
        color : var(--mainTitle);
        position: absolute;
        margin: 0 auto;
        left: 1%;
        right: 0;
        top: 2%;
    }
    
    /* START NAVBAR */
    .navbar,
    .nav-ol{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .navbar,
    .nav-ol,
    .cv-btn {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 2%;
    }
    
    .nav-ol > li {
        font-size: 1.4rem;
        color: var(--mainTitle);
        padding-left : .4rem;
        padding-right : 5rem;
        margin-top: .5rem;
        list-style-type: decimal-leading-zero;
    }
    
    .nav-ol li a:hover {
        color: var(--link-color);
        text-decoration: none;
        transition: .5s;
    }
    
    .nav-ol > li:last-child {
        margin-right : 5.5rem;
    }
    
    .nav-ol a {
        font-size: 1.4rem;
        color: var(--mainTitle);
    }
    
    .cv-btn {
        font-size: 1.4rem;
        color: var(--mainTitle);
        margin-right: 2rem;
        padding: .7rem;
        background: transparent;
        border : 1px solid var(--mainTitle);
    }
    
    .cv-btn:hover {
        border: 1px solid var(--mainTitle);
        background-color: #FFF;
        color: #000;
        border-radius: 10px;
        transition: 1s;
    }
    /* END NAVBAR */
    
    
    /* START MAIN TITLE */
    .main-title {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        width: 80%;
        color: var(--mainTitle);
        font-size : 5rem;
        font-weight: bold;
        font-family: 'Cinzel', 'Roboto', sans-serif;
    }
    
    .line {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 48%;
        width: 35%;
        background-color: var(--mainTitle);
        font-size : 1.6rem;
    }
    
    .job-title{
        position: absolute;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 51%;
        width: 80%;
        color: var(--mainTitle);
        font-size : 2rem;
        font-weight: 400;
        font-family: 'Cinzel', 'Roboto', sans-serif;
    }
    /* END MAIN TITLE */
    
    
    /* START BODY DESCRIPTION */
    .bodyDescription-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -30rem;
        background: var(--background);
        border-top: 1px solid #FFF;
    }
    
    /* START SOCIAL ICONES */
    .socialIcons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end !important;
        align-items: center;
        line-height: 5rem;
        margin: 10rem 0 0 3rem;
        top: 53rem;
        width : 8rem;
        position: sticky;
    }
    
    .imgDescription {
        display: flex;
        flex-direction: row;
        margin-bottom: 5rem;
    }
    
    .imgProfile {
        height: 23rem ;
        width: 23rem;
        border-radius: 50%;
        margin-top : 22rem;
    }
    
    .textPresentation {
        display: flex;
        flex-direction: column;
        margin-top : 20rem;
        margin-left : 5rem;
        width : 45rem;
    }
    
    .textPresentation h3 {
        color: var(--textTitle);
        font-size : 3rem;
        font-weight: 400;
    }
    
    .textPresentation p {
        margin-top: 1rem;
        font-size : 1.8rem;
        text-align: justify;
    }
    
    .textPresentation p:last-child {
        margin-top : 1rem;
        font-size : 1.4rem;
        line-height: 2rem;
    }
    
    .mobile-view {
        display:none !important;
    }
    
    .contact-btn {
        font-size: 1.4rem;
        color: var(--btn-color);
        margin-top: 4rem;
        /* margin-left: 12rem; */
        padding: .7rem;
        background: transparent;
        border : 1px solid var(--btn-color);
    }
    
    .contact-btn:hover {
        background: var(--btn-color);
        color: var(--mainTitle);
        border-radius: 10px;
        transition: 1.5s;
        box-shadow: 1px 1px 50px var(--btn-color);
    }
    
    /* 01. ABOUT */
    .about {
        width : 55rem;
        margin-top : 20rem;
    }
    
    .fa-atom {
        font-size: 2rem;
        color : var(--atom-color);
        margin-right : 1.5rem;
    }
    
    .about h3 {
        color: var(--textTitle);
        font-size : 2rem;
        text-decoration: underline;
    }
    
    .about p {
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: justify;
    }
    
    .about a {
        color: var(--link-color);
        text-decoration: none;
        font-size: 1.4rem;
        line-height: 2rem;
    }
    
    .aboutThirdDescription {
        margin-top: 2rem;
    }
    
    /* LANGAGES  IN ABOUT */
    .langage-h4 {
        margin-top: 2.2rem;
        color: var(--textTitle);
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
    }
    
    .langages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40rem;
    }
    
    .fa-caret-right {
        color: var(--atom-color);
    }
    
    .langages li i {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    
    .experiences {
        width : 55rem;
        margin-top : 10rem;
    }
    
    .experiences h3 {
        margin-top: 20rem;
        color: var(--textTitle);
        font-size : 2rem;
        text-decoration: underline;
    }
    
    /* ACCORDION BOOTSTAP */
    .accordion {
        margin-top : 3rem;
    }
    
    .card {
        background-color: var(--background) !important;
        border-left: 1px solid var(--mainTitle) !important;
        border: none;
    }
    
    .btn-link {
        color: var(--smallTitle);
        font-size: 1.6rem;
        text-decoration: none;
    }

    button i{
        color: var(--atom-color);
        margin-left: 2rem;
        font-size: 1.4rem;
    }
    

    
    .btn-link:hover{
        color: var(--link-color);
        text-decoration: none;
    }
    
    .btn-link:focus {
        color: var(--smallTitle);
        text-decoration: none;
    }
    
    .card-header {
        border: none !important;
    }
    
    .card-body {
        color: var(--p-color);
        font-size: 1.4rem;
        text-align: justify;
    }
    
    .card-body h4,
    .card-body h5 {
        margin-left: .2rem;
    }
    
    .card-body h5 {
        margin-bottom: 2rem;
    }
    
    .card-body li{
        font-size: 1.2rem;
        line-height: 2.4rem;
        list-style-type: disc;
        margin-left: 1.5rem;
    }
    
    /* DIPLOMES */
    
    .diplomes {
        margin-top: 25rem;
        /* display: flex; */
        flex-direction: row;
        width: 55rem;
    }
    
    .diplomes h3 {
        color: var(--textTitle);
        font-size : 2rem;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 2rem;
    }
    
    .diplomes h5 {
        color: var(--smallTitle);
        font-size:1.6rem;
    }
    
    .diplomes h6 {
        color: var(--p-color);
        font-size: 1.4rem;
        margin-bottom: 1.3rem;
    }
    
    .diplomes p {
        color: var(--p-color);
        font-size: 1.4rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
    
    hr {
        background-color: var(--p-color);
        width: 55rem;
        line-height: .5rem;
        margin-bottom: 2rem;
    }
    
    /* CONTACT */
    .fa-bookmark {
        font-size: 2rem;
        color : var(--atom-color);
        margin-right : 1.5rem;
    }
    
    .contactTitle {
        color: var(--textTitle);
        font-size : 2rem;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 1rem;
        margin-top: 20rem;
    }
    
    .contactCard-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 30rem;
        /* border: 1px solid #FFF; */
        box-shadow: 1px 1px 10px #FFF;
        border-radius: 10px;
    }
    
    .contactIdentite h4 {
        color: var(--smallTitle);
        font-size:1.8rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-family: 'Cinzel', 'Roboto', sans-serif;
    }
    
    .imgBottom{
        height: 10rem ;
        width: 10rem;
        border-radius: 50%;
        margin-bottom : 2rem;
        margin-left: 3rem;
    }
    .contactIdentite p {
        text-align: center;
        font-size: 1.4rem;
    }
    
    .fa-mobile-alt {
        font-size: 2rem;
        color : var(--atom-color);
        padding-right: .5rem;
    }
    
    .contactCard-PositionBtn {
        margin: -2rem 0 3rem 5rem;
    }
    
    /* TOP PAGE */
    .topPage {
        font-size: 1.4rem;
        color: var(--link-color);
        text-decoration: none;
        text-align: center;
    }
    
    .topPage:hover {
        font-size: 1.4rem;
        color: var(--p-color);
        font-weight: bold;
        text-decoration: none;
        transition: 1s;
    }
    }