html {
    --mainTitle : #E4E4E4;
    --textTitle : #D48C5E;
    --smallTitle :#4BAA97;
    --background :#272643;
    --btn-color: #D48C5E;
    --atom-color: #EFEEEF;
    --p-color : #EFEEEF;
    --link-color : #E1B581;
}

body {
    background-color: var(--background);
}

p {
    color: var(--p-color);
    font-style: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

h3 {
    font-family: 'Cinzel', 'Roboto', sans-serif;
}


.main-container {
    margin-bottom: 10rem;
}
